* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(https://wallpapers-clan.com/wp-content/uploads/2024/12/totoro-umbrella-rain-studio-ghibli-desktop-wallpaper-preview.jpg);
	background-repeat: repeat-y;
	background-size: cover;
	background-position: top center;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: 100vh;
}

main {
	background-color: rgba(193, 227, 173, 0.85);
	position: relative;
	top: 30%;
	border: 1px solid;
	border-radius: 5px;
	min-width: 540px;
	max-width: 60%;
	margin: auto;
	padding: 2em;
}

h1 {
	margin-bottom: 20px;
}

#search-bar {
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 16px;
	width: 70%;
	height: 42px;
}

#submit {
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	width: 5em;
	cursor: pointer;
	margin-left: 10px;
}

#wrapper {
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: space-between;
}

#search {
	display: flex;
	width: 50%;
}

#data {
	background-color: rgba(152, 184, 133, 0.85);
	border-radius: 5px;
	min-width: 500px;
	max-width: 90%;
	padding: 1.5em;
	margin-top: 20px;
	text-align: center;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
}

#data > img {
	border-radius: 50%;
}

.day {
	display: none;
	min-width: 190px;
	max-width: 90%;
	border-radius: 5px;
	padding: 1.5em;
	margin-top: 5px;
	text-align: center;
	align-items: center;
}

@media (max-width: 1850px) {
	#data {
		flex-wrap: wrap;
	}
}
