* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(https://wallpapers-clan.com/wp-content/uploads/2024/12/totoro-umbrella-rain-studio-ghibli-desktop-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: 100vh;
}

main {
	background-color: rgba(193, 227, 173, 0.85);
	position: relative;
	top: 30%;
	border: 1px solid;
	border-radius: 5px;
	min-width: 540px;
	max-width: 50%;
	margin: auto;
	padding: 2em;
}

hi {
	margin-bottom: 20px;
}

#search-bar {
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 16px;
	width: 70%;
	height: 42px;
}

#submit {
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	width: 5em;
	cursor: pointer;
	margin-left: 10px;
}

#wrapper {
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: space-between;
}

#search {
	display: flex;
	width: 50%;
}